body {
    background: rgb(243, 236, 228);
    font-family: "Barlow", sans-serif;
    font-size: 2.5vw;
}

#title{
    font-size: 8.5vw;
    text-align: center;
    margin: 5%;
    margin-bottom: 0%;
}

#sub{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 5%;
}

#bar{
    position: fixed;
    top: 2vw;
    left: 1vw;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.button1{
    border: 1px solid black;
    border-radius: 3px;
    font-size: 2vw;
}

.button1:hover{
    cursor: pointer;
}

.button1:active{
    background-color: rgba(172, 159, 154, 0.651);
}

.button2{
    font-size: 2vw;
    border-radius: 3px;
    background-color: rgb(238, 184, 139);
}

.button2:hover{
    cursor: pointer;
}

.button2:active{
    background-color: rgb(226, 160, 110);
}

#theme-button{
    position: relative;
    left: 1%;
    padding-top: .8%;
    width: 8vw;
    height: 3.2vw;
    text-align: center;
    align-self: flex-start;
}

#info{
    position: relative;
    left: -18%;
    padding-top: .8%;
    width: 8vw;
    height: 3.2vw;
    text-align: center;
}

.score-container{
    text-align: center;
    position: relative;
    left: 18%;
}

#score{
    font-size: 4vw;
}

.highscore-container{
    text-align: center;
}

#highscore{
    font-size: 4vw;
}

#new-game{
    padding: .7%;
    text-align: center;
    width: 10vw;
    height: auto;
    position: fixed;
    top: 30%;
    left: 80%;
}

@media (max-width: 1160px){
    #bar{position: absolute}
    #new-game{position: absolute}
}

#result{
    display: none;
    font-size: 60px;
    position: fixed;
    width: 500px;
    top: 50%;
    margin-top: -200px;
    left: 50vw;
    margin-left: -320px;
    background-color: rgb(255, 250, 245);
    border-radius: 5px;
    text-align: center;
    padding: 60px;
}

#play-again{
    width: 30%;
    padding: 1%;
    margin: 10% auto 5% auto;
}

#keep-going{
    width: 30%;
    padding: 1%;
    margin: 1% auto 0% auto;
}

#info-box{
    display: none;
    border-top: 3px double black;
    border-bottom: 3px double black;
    font-size: 80%;
    position: fixed;
    width: 22%;
    height: auto;
    top: 17%;
    left: 3%;
    line-height: 150%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding: 2% 1% 2% 1%;
}

#info-title{
    font-size: 130%;
    padding-bottom: 3%;
}

#themes{
    border-top: 3px double black;
    border-bottom: 3px double black;
    font-size: 90%;
    position: fixed;
    width: 25%;
    height: auto;
    top: 18%;
    left: 2.5%;
    line-height: 150%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding: 2% 0% 2% 0%;
}

#themes-title{
    font-size: 130%;
    padding-bottom: 8%;
}

.mode:hover{
    cursor: pointer;
    margin: auto;
}

#boring{
    color: rgb(214, 154, 42);
    font-weight: bolder;
    text-decoration: underline overline;
}

.close{
    font-size:80%;
    padding: 0%;
    width: 50%;
    margin: 8% auto 0% auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: repeat(4, auto);
    width: 500px;
    height: 500px;
    background: linear-gradient(white, white);
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 5px;
    padding: 1%;
}

.grid div {
    color: rgba(255, 255, 255, 0);
    width: 110px;
    height: 110px;
    background: rgb(255, 248, 235);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 110px;
    border-radius: 5px;
}
